/* .vitepress/theme/custom.css */
:root {
  --vp-c-brand: #f7727d;
  --vp-c-brand-light: #f7a8af;
  --vp-c-heightlight: #43a8a3; 
}

.span-mb {
  display: block;
  margin-bottom: 0.5rem;
}

.span-heightlight {
  color: var(--vp-c-heightlight);
  font-weight: bold;
}